<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="rootFolder" value="C:\temp\11"/>
    <add key="sourceCsvFile" value="C:\temp\11.csv"/>
  </appSettings>
</configuration>