<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="rootFolder" value="D:\working\paycheck\RESULT\NEW1 to 4_start3533"/>
    <add key="sourceCsvFile" value="D:\working\paycheck\code\source.csv"/>
    <add key="finalResultFolder" value="D:\working\paycheck\RESULT\FINAL_RESULT"/>
  </appSettings>
</configuration>